table {
    table-layout: fixed;
    width: 100%;
}

td, th {
    text-align: center !important;
    overflow: hidden;
}

.search_results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


