body {
    color: darkslategray;
    background-color: darkslategray;
}

.container {
    background-color: white;
}

.recent_search {
    text-align: center;
}

.btn {
    margin: 5px;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

header {
    font-family: 'Press Start 2P', cursive;
    padding: 20px 0px;
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

svg {
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}