footer {
    margin-bottom: 20px;
}

.footer_text {
    color: white;
    text-align: center;
}

.footer_link {
    color: white;
}

.footer_link:hover {
    color: rgb(187, 187, 187);
}

.footer_link:focus {
    color: rgb(0, 204, 211);
}