body {
    color: darkslategray !important;
    background-color: darkslategray !important;
    font-family: 'Roboto', sans-serif;
}

.app_wrapper {
    margin: 20px 0;
    background-color: white;
    min-height: 80vh;
    border-radius: 5px;
}